/******************************************************Header*************************************************************************/
body {
    margin: 0;
    color: #742305;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    margin: 1em;
    color: #742305;
}





header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 1em 1em;
    margin-bottom: 1em;
    background-color: #F3DF85;
    border: none;
    cursor: pointer;
    width: 200px;
}

#logo {
    width: 5em;
}

ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
    align-items: center;
}

ol li {

    background-color: #F3DF85;
    border-radius: 30px;
    text-align: center;
    padding: 1em;
    margin: 0.5em;

    border: none;
    cursor: pointer;
    width: 60px;
    height: 50px;
    /* Dimensioni dei bottoni */
}

#main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 1em 1em;
    margin-bottom: 1em;
    background-color: #F3DF85;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 100px;
}

header {

    display: flex;

    background-color: #FBF7E3;

    flex-direction: column;
    padding: 0.5em;

    align-items: center;
    /* Centra gli elementi orizzontalmente */

}


li {
    display: flex;
    align-items: center;
}







/******************************************************carte*************************************************************************/

#cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}



article.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 1em;

    border-radius: 40px;
    background-color: #FBF7E3;
}

.card .text-container {
    padding: 0 1em;
    display: flex;
    align-items: center;
    flex-direction: column;

    flex-grow: 1;

    justify-content: space-between;


}

.text-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    /* Spazio tra il bottone principale e la lista di bottoni */
    background-color: #F3DF85;
    border: none;
    cursor: pointer;
    width: 100px;
    color: #742305;
}

.text-container p {
    margin: 0;
}

.text-container h3 {
    margin: 0;
}

article img {
    width: 100%;
    border-radius: 30px 30px 0 0;

}

.id2 {
    display: flex;
    align-items: center;
}

.se1 {
    margin: 1em;
}





/******************************************************articolo finale*************************************************************************/

section {
    margin: 2em;
}

h2 {
    font-size: 3em;

    color: #742305;
}



picture img {
    width: 100%;
}

#ban {
    border-radius: 40px;
    background-color: #FBF7E3;
    padding: 2em;
    color: #742305;
}


@media screen and (max-width:570px) {

    header {
        border-radius: 40px;
        margin: 1em;
        padding: 2em;
    }

    ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding-left: 0;
        align-items: center;
        justify-content: center;

    }

    #main-btn {

        order: 1;
    }

    li {
        order: 2;
    }

}

@media screen and (min-width:1200px) {

    body {
        flex-direction: row;
    }


    #main-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        padding: 1em 1em;
        margin-bottom: 1em;
        background-color: #F3DF85;
        border: none;
        cursor: pointer;

        width: 60px;
        height: 50px;

    }

    #logo {
        width: 2em;
    }

    header {

        height: 100vh;

        position: sticky;
        top: 0;
    }




}